@import '@/style/global'

.filter
    grid-area: filter
    background-color: $white
    border-radius: 5px
    align-self: start
    box-sizing: border-box

.filter__title
    @include text(13px,$primaryDarkText,600)
    text-transform: uppercase
    margin-bottom: 18px
    padding: 14px 0 0 20px

.filter__list
    display: flex
    flex-direction: column

@media only screen and (max-width: $mobile-width)
.filter__list
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
